@require 'deepgarden'

._Table
	display: table
	width: 100%

	&__Header
		display: table-header-group

	&__Column
		display: table-cell
		text-transform: uppercase
		font-size: 0.9em
		line-height: 0.9em
		padding: 10px 20px
		border-bottom: 1px solid $palette.border
		border-left: 1px solid $palette.border
		color: $palette.light

		&:first-of-type
			border-left: none


	&__Body
		display: table-row-group

	&__Row
		display: table-row

	&__Cell
		display: table-cell
		padding: 10px 20px
		vertical-align: middle