@require 'deepgarden'

._Badge
	display: inline-block
	font-size: 1rem
	line-height: 1rem
	padding: 5px 10px
	border-radius: 3px
	color: #FFF
	white-space: nowrap

	&.-Default
		background: $palette.default.color

	&.-Success
		background: $palette.success.color

	&.-Warning
		background: $palette.warning.color