@require 'deepgarden'

._Modal
	background: $palette.background
	layer()

	&__Header
		background: $palette.backgroundAccent
		color: #FFF

	&__Title
		padding: 20px

	&__Body
		padding: 0

	&__Overlay
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(0,0,0,0.7)
		z-index: 1000
		display: flex
		justify-content: center
		align-items: center