@require 'deepgarden'

._Button
	resetLink()
	display: inline-block
	white-space: nowrap
	padding: 0 20px
	border-radius: 3px
	border: 1px solid $palette.notice.color
	color: #FFF
	vertical-align: middle
	cursor: pointer
	background: $palette.notice.color
	height: 2.25em
	line-height: 2.25em
	user-select: none

	&.-Ghost
		border: 1px solid $palette.border
		background: transparent
		color: inherit

	&.-Success
		border: 1px solid $palette.success.color
		background: $palette.success.color

	&.-Warning
		border: 1px solid $palette.warning.color
		background: $palette.warning.color

	&.-Danger
		border: 1px solid $palette.danger.color
		background: $palette.danger.color

	/* Size */

	&.-Bigger
	.-Bigger &
		font-size: 1.1rem

	&.-Biggest
	.-Biggest &
		font-size: 1.3rem

	.-Normal &
	&.-Normal
		font-size: 1rem

	&.-Smaller
	.-Smaller &
		font-size: 0.9rem

	&.-Smallest
	.-Smallest &
		font-size: 0.8rem